server:
  port: 8083

spring:
  application:
    name: diary-service
  cloud:
    config:
      enabled: false
      import-check:
        enabled: false
  datasource:
    # 로컬 DB
    # url: jdbc:postgresql://localhost:5432/aidb
    # username: aiion
    # password: aiion4man
    # Neon DB (프로덕션)
    url: jdbc:postgresql://ep-crimson-darkness-a1o2y4xd-pooler.ap-southeast-1.aws.neon.tech:5432/neondb?sslmode=require
    username: neondb_owner
    password: npg_yKz6I1piqEBt
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 600000
      max-lifetime: 1800000
      leak-detection-threshold: 60000
      connection-test-query: SELECT 1
      validation-timeout: 3000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    generate-ddl: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

